- posts.each do |post|
  .class.well
    %b
      Title:
    = post.title
    %br
    = post.body.html_safe
    %p 
      Comments:
      = post.comments.count #do this better later use cache for count this
    - post.comments do |comment|
      = render :partial => "shared/comment", :locals => {:comment => comment}
