%table.table.table-striped
  %caption
    Roles table
  %thead
    %tr
      %th #id
      %th #name
      %th #actions
  %tbody
    - @roles.each do |role|
      %tr
        %td 
          = role.id
        %td 
          = role.name
        %td 
