// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_comment{
  padding: 8px;
  margin: 0px;
  border: 0px;
}
.comment{
  padding: 8px;
  margin: 15px 0px 2px 0px;
  background: white;
  max-width: 500px;
}